// Variables
// Define the custom SASS variables for your project here.

$_settings: (
    'dev-mode':                     true
);

$base-colors: (
	shark: "#28282E",
	bluewood: "#2C3E50",
	amaranth: "#EA2E49",
	ebony-clay: "#1F2B37",
	shuttle-gray: "#566573",
	raven: "#79818a"
);

$button-base-color: #ea1b25;

