nav {
	z-index: 2;
	a {
		display: block;
		color: #fff;
		text-decoration: none;
		font-size: 1.8rem;
		font-weight: 700;
		 
		&:hover,
		.active {
		.fa-circle {
			color: base-color('amaranth');
		}
		.fa-check {
			color: #fff;

		}	
	}
	}

	.fa-check-circle {
		font-size: 2.8rem;
		color: base-color('ebony-clay');
	}
}
